.change_pwd-view{
  background-color: #e2e2e2;
  ion-content{
    width: 80%;
    margin: 0 auto;
    // background-color: red;
  }
    * {
    margin:0;
    padding:0;
    }
body {
    padding:10px;
}
label {
    display:block;
    font-size:14px;
    margin:10px 0 2px;
}
input {
    padding:1px 3px;
    width: 100%;
    margin-top: 3vh;
    //margin: 1vw auto;
}
h3{
  text-align: center;
}
.msg-block {
      margin-top:2px;
      margin: 0 auto;
}
.error {
    color:#F00;
    font-size:14px;
    margin: 0 auto;
    float: left;
    margin-top: -3vh !important;
}
.pwd_button {
    background-color: #6aa13e;
    color: #ffffff;
    height: 40px;
    width: 100%;
}

}
