.customercare-view
{
	background-color: #e2e2e2 !important;
	font-family: Ubuntu,bold,sans-serif !important;
	ion-content{
		overflow: scroll !important;
	}
	.cc-form{
		height: 100%;
	}
	.platform-ios{

	}
	.top-content{
		height: 60%;
		width: 85%;
		margin: 0 auto;
		padding-top: 3vh;
		padding-top: 3%;

		h1{
			font-size: 4vw;
			font-family: inherit;
		}
		.text-area-content{
			height: 60%;
			padding-top: 1vh;
			textarea {
			    height: 25vh !important;
					height: 25%;
					font-family: inherit;
			}
		}
		.button-content{
			float: right;

			.button{
				width: 24vw;
				margin-top: calc(100%-30vh);
				background-color: #69a33d !important;
				color: #fff;
			}
		}

	}
	.bottom-content{
		background-color: #dbdbdb;
		height: 40%;

		box-shadow: inset 0px 10px 10px -10px rgba(0,0,0,0.8);
		.image-content{
			width: 10%;
	    height: 13%;
	    margin: 0 auto;
	    padding-top: 4vh;
			padding-top: 4%;
			text-align: center;
			img{
				    width: 11vw ;
			}
		}
		h2{
			font-size: 4vw;
			text-align: center;
			margin-top: 8vh;
			margin-top: 10%;
			/* font-size: inherit; */
			font-family: inherit;
		}
		h3{
			font-size: 4vw;
			text-align: center;
			/* margin-top: -2vh; */
			line-height: 1;
			font-family: inherit;
		}
		.button-content{
			width: 90%;
			text-align: center;
			margin: 0 auto;
			.button{
				background-color: #69a33d !important;
				color: #fff;
				width: 80%;
				margin-left: 9vw;
    		margin-top: 4vh;
				margin-top: 4%;
			}
		}

	}

	}
