.patientprofile-view
{
  background-color:#e2e2e2 !important;// $profile-bg !important;
  font-family: Ubuntu,bold,sans-serif !important;

  .profile-info{
    height: 14vh;
    background-color: teal;
    width: 100% !important;
    margin-left: 3vw;
    margin-top: 2vh;

    img{
      width:20vw;
      border-radius: 60%;
      padding: 5px;
      float: left;
      background-color: #dedbd6 !important;
    }
    .imageContainer{
      background-color: blue;
    }
    .profileName{
    margin-left: 12vw;
    width: 100%;
    background-color: red;
    }
    h4{
      font-size: 5vw;
      // margin-left: 4vw;
      margin-left: -5vw;
      text-align: center;
      padding-top: 3vh;
      font-family: inherit;
      font-weight: 500;
      width: 100%;
    }
  }

  .profile-details{
    height: 60vh;
    width: 99%;
    margin: 0 auto;
    .card{
        min-height: 2vh;
        margin: 2vw;
        font-size: 4vw;
      &:first-child{

      }
    }
  }
  h3{
    text-align: center;
    font-family: inherit;
    font-size: 3vw;
  }
}
