.patient-topup-view
{
  background-color: #e2e2e2 !important;
  font-family: Ubuntu,bold,sans-serif !important;

  .top-content{

    height: 25%;
    height: 25vh;
    .logo-content{
      height: 30%;
      width: 20%;
      padding-top: 10%;
      padding-top: 10vh;
      margin: 0 auto;
      img{
            margin-left: 3vw;
      }
    }
    h1{
      font-size: 5vw;
      font-family: inherit;
      text-align: center;
      padding-top: 6vh;
    }
    h2{
      font-size: 4vw;
      font-family: inherit;
      text-align: center;
      line-height: 0;
    }


  }
  .refund-amount{
    width: 90%;
    margin: 0 auto;
    padding-top: 2%;
    padding-top: 2vh;
    h6{
      text-align: center;
      font-family: inherit;
      font-weight: lighter;
      font-size: 3.2vw;
    }
  }
  .button-container{
    width: 80%;
    margin: 0 auto;
    .button{
      background-color: #6aa13e !important;
      width: 100%;
      margin-top: 2vh;
    }
  }
  .item-divider{
    text-align: center;
    height: 7vh;
    background-color: #dbdbdb;
    border-top: 1px solid #fff;
    padding-top: 2vh;
  }
  .bottom-content{
    height: 57vh;
    padding-bottom: 10px auto;
    background-color: #dbdbdb;
    width: 100%;
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    overflow: scroll !important;
    li {
      height: 19% !important;
      border-bottom: 1px solid #fff;

      @include clearfix();

      &:first-child {
        //box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
      }

      &:last-child {
        border-bottom: none !important;
        margin-bottom: 10px auto;
      }

      .profile-img {
        width: 15vw;
        float: left;
        margin: 2vh 0px 0px 2vh;

        img {
            width: 12vw;
          border-radius: 55%;

        }
      }

      .next-icon {
          width: 4vw;
          float: right;
          text-align: center;
          margin-right: 10px;
          height: 100%;
          line-height: 14vh;

      p {

          font-size: 1.8em;
        }
      }

      .name-content {
        // float: left;
        padding: 2vh 2vh;
        height: 100%;

        p{
            font-size: 3.2vw;
            line-height: 2.8vh;
            margin: 0px;
            float: left !important;
          }

        h2{
            margin: 0px;
            font-size: 5vw;
            float: left;
            font-family: Ubuntu,bold,sans-serif !important;
            line-height: 6vw;
            span{
              margin-left: 22%;
              margin-left: 22vw;


            }
          }
      }

    }

  }

}
