<ion-view class="doc-reg-1-view" cache-view="false">

<ion-content >
  <div class="bar-header bar-light">
    <div class="top-content">
           <p>Doctor Registration</p>
           <img  src="./img/progress1.png" >
           <p class="reg_message"> DoctorQuick is a unique technology to help you consult and treat patients at your own time and pace from different corners of the country and get paid for your time.</p>
   </div>
  </div>

<form name="DocReg" ng-submit="submitForm($event)" >
   <div class="form-content">
     <div class="input-types">

       <div class="form-group" ng-class={submitted:submitted}>
         <input type="text" class="form-control" placeholder="First Name" name="doc_fname" ng-model="Doctor.doc_fname" no-special-char required>
       </div>

       <div class="form-group" >
         <input type="text" class="form-control" placeholder="Middle Name" name="doc_mname" ng-model="Doctor.doc_mname" no-special-char >
       </div>

       <div class="form-group" ng-class={submittedLname:submittedLname}>
         <input type="text" class="form-control" placeholder="Last Name" name="doc_lname" ng-model="Doctor.doc_lname" no-special-char required>
       </div>


     </div>

    </div>

    <button type="submit" class="login_button button button-block button-assertive" id="DocReg"  ng-disabled="!DocReg.$valid" ng-hide="true"  ng-click="validateDoctor(DocReg.$valid)">
      <span>Next</span>
    </button>
</form>
</ion-content>
<ion-footer-bar  >

<button type="submit" class="login_button button button-block button-assertive"  ng-click="validateDoctor(DocReg.$valid)"  linked="DocReg">
  <span>Next</span>
</button>

          <!-- <h2 > By Signing in, I agree to DoctorQuicks <a ng-click="termsAndCond();">Terms and Conditions</a>  </h2> -->

</ion-footer-bar>
</ion-view>
