<ion-view class="walkthrough-view" cache-view="false" hide-back-button="true">
        <ion-content ng-class="{'has-footer': !keyboardOpen}" >
          <div class="logo_container">
            <img class="logo " ng-src="img/dq_login_logo.png" >
          </div>

          <form novalidate name="loginForm" ng-submit="loginForm.$valid && signIn(user)">
            <div class="list">
              <label class="item item-input phone_field text-center" >
                  <input  type="number" placeholder="Phone Number" name="user_phone" ng-model="user.phone" autofocus required="required">
              </label>
              <label class="item item-input password_field " show-hide-container>
                  <input  type="password" placeholder="Password" name="user_pin" ng-model="user.pin" required show-hide-input autofocus >
              </label>
              <button class="login_button" ng-click="doLogIn();" >
                Login
              </button>
              <div class="conditions" >
                    <p class="login-fonts text-center">By Logging in you agree to our <a href="#">Terms&Conditions</a></p>
              </div>
            <!--  <label class="item item-input " show-hide-container>
                  <input  type="password" placeholder="Password" name="user_pin" ng-model="user.pin" required show-hide-input autofocus>
              </label>-->

              <div class="row remember-forgot">
                   <label  class="col"   >
                     <input  type="checkbox" name="rememberMe" ng-model="user.rememberMe" >
                     <span style="text-align: center">Remember me</span>
                   </label>
                   <a  class="col"  ui-sref="auth.forgot-password">
                     <span style="text-align: center">Forgot Password</span>
                   </a>
                   <!-- <a class="col"  ui-sref="auth.doctorRegistration">
                     <img class="img2" ng-src="img/doc_symbol.png"><br><p class="doc_reg" style="text-align: center">Register as a Doctor</p>
                   </a> -->
             </div>

              <button class="register_button " ui-sref="auth.patient_reg1" >
                Register
              </button>
            </div>
        </form>



        </ion-content>

        <ion-footer-bar class="row  bottom hide-on-keyboard-open" >
          <!-- ui-sref="auth.demo" -->
             <a  class="col" ng-click="openPopover($event)" >
               <img class="img2" ng-src="img/button_change.png"><br><p class="doc_reg" style="text-align: center">Learn More</p>
             </a>
             <a  class="col"  ui-sref="auth.doctorRegistration">
               <img class="img2" ng-src="img/button_change.png"><br><p class="doc_reg" style="text-align: center">Register as a Doctor</p>
             </a>

       </ion-footer-bar>

       <script id="video.html" type="text/ng-template" >
         <style>
         .hs-responsive-embed-youtube {
          position: relative;
          padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
          padding-top: 25px;
          }
          .hs-responsive-embed-youtube iframe {
          position: absolute;
          width: 100%!important;
          height: 100%!important;
          }
          .popover{
            top:0;
            position:inherit;
          }
          .platform-android .popover {
             margin-top: 0;
             background: transparent;
             width: 100%;
             height: 100%;

          }
          </style>
         <ion-popover-view>

           <ion-content>
             <a >
               <div class="">
                 <div class="">
                   <div class="video-container">
                     <!-- <iframe src="http://www.youtube.com/embed/shGhZzJ7o-g?rel=0" frameborder="0" allowfullscreen></iframe> -->
                     <!-- <iframe src="https://www.youtube.com/watch?v=Krii1Tn6ClA" frameborder="0" allowfullscreen ></iframe> -->
                     <iframe src="https://www.youtube.com/embed/Krii1Tn6ClA?autoplay=true" frameborder="0" allowfullscreen ></iframe>
                   </div>
                 </div>
               </div>
             </a>
             <div class="player">
                 <!-- <div class="mediaplayer item item-image">
                     <video poster="http://corrupt-system.de/assets/media/sintel/sintel-trailer.jpg" controls preload="none">
                         <source src="http://corrupt-system.de/assets/media/sintel/sintel-trailer.m4v" type="video/mp4" />
                         <source src="http://corrupt-system.de/assets/media/sintel/sintel-trailer.webm" type="video/webm" />
                     </video>
                 </div> -->

            </div>
           </ion-content>
         </ion-popover-view>
       </script>



</ion-view>
