<ion-view nav-transition="ios" class="patient-reg-2-view" cache-view="false">

  <ion-content>

    <div class="bar-header bar-light">
      <div class="back_button icon-left">
        <i class="register-back-btn icon ion-ios-arrow-back" ng-click="goBack();"></i>
        <p class="back-txt-cls">Back</p>
      </div>
      <div class="top-content">

             <img src="./img/iOS-Assets-v01_patient_registration_progress2.png" >
             <p class="reg_message"> Age, gender, email and password. </p>

       </div>
    </div>
    <form name="PatientReg2" ng-submit="submitForm($event)" ng-class={submitted:submitted}>
       <div   ng-class="{ 'form-content': deviceAndroid === true, 'form-content-ios': deviceAndroid === false}">
         <div class="input-types">

           <img  ng-hide='true' ng-src="img/patientAvatar.png" ng-model='PatientDetail.patientAvatar' >

           <input type='tel' class="form-control"  mask-clean='true' placeholder="Mobile Number" ng-model='PatientDetail.patient_mob' mask='9999999999' restrict="reject" clean="true" international-phone-number preferred-countries="pl, de" required ></input>

             <!-- <intlpn  class="international" ng-model='PatientDetail.patient_mob' placeholder="Mobile Number" default-country="in" only-country="['in']" mask='9999999999999' required></intlpn> -->

             <div class="button-bar " style="margin-top: 2vh;">

               <ion-radio class="form-control" ng-model="PatientDetail.gender" ng-value="'M'" style="height:40px; border:none; margin-bottom: 2vh; margin-right:2vw;" required><span style="position: fixed; margin-left: -19vw; margin-top: -3vh;">Male</span></ion-radio>
               <ion-radio class="form-control" ng-model="PatientDetail.gender" ng-value="'F'" style="height:40px; border:none; margin-bottom: 2vh;" required><span style="position: fixed; margin-left: -19vw; margin-top: -3vh;">Female</span></ion-radio>
             </div>


             <input type="email" class="form-control" placeholder="Email Address" name="pat_email" name="pat_email" ng-model="PatientDetail.pat_email" validate-email required>
             <input type="password" class="form-control" placeholder="Password"  name="pat_password" ng-model="PatientDetail.pat_password"   required ValidateAlphaNumeric>

           </div>




         </div>

        </div>

        <button class="login_button button button-block button-assertive" id="link" ng-hide="true" type="submit" ng-click="validateUser1(PatientReg2.$valid)" >Next</button>

    </form>


</ion-content>

<ion-footer-bar  >

        <button class="login_button button button-block button-assertive" ng-click="validateUser1(PatientReg2.$valid)" type="submit" linked="link">Next</button>

          <h2 > By Signing in, I agree to DoctorQuicks <a ng-click="termsAndCond();">Terms and Conditions</a>  </h2>

</ion-footer-bar>
</ion-view>
