<ion-view class="patient-reg-1-view" cache-view="false">
  <ion-content>

    <div class="bar-header bar-light">
      <div class="top-content">

             <p>Patient Registration</p>
             <img  src="./img/iOS-Assets-v01_patient_registration_progress1.png" >
             <p class="reg_message"> Register now and get your first consultation FREE with doctor of your choice. </p>

       </div>
    </div>


   <form name="PatientReg1" >
   <div class="form-content" >
     <label class="item item-input" >
         <input type="text" placeholder="First Name" name="patient_fname" ng-model="PatientDetail.patient_fname" required>
     </label>

     <label class="item item-input">
         <input type="text" placeholder="Middle Name" name="patient_mname" ng-model="PatientDetail.patient_mname" >
     </label>

     <label class="item item-input">
         <input type="text" placeholder="Last Name" name="patient_lname" ng-model="PatientDetail.patient_lname" required>
     </label>

     <label class="item item-input" >
         <input type='number' placeholder="Age" mask-clean='true' ng-model='PatientDetail.patient_age' mask='99' restrict="reject" clean="true"  required />
     </label>

   </div>

   </div>
   <div class="bottom-content">
   <!-- <button class="button button-block" type="submit" ng-disabled="!PatientReg1.$valid">Submit</button> -->
   <button class="login button button-block"  type="submit" ng-click="goToPatientReg2()" ng-disabled="!PatientReg1.$valid">Next</button>
   <h2 > By Signing in, I agree to DoctorQuicks </h2>
   <h3 class="link"><a href="#">Terms and Conditions</a> </h3>
   </div>
 </form>
</ion-content>
</ion-view>
