<ion-view class="patient-reg-1-view" cache-view="false">

<ion-content >
  <div class="bar-header bar-light">
    <div class="top-content">
            <p>Patient Registration</p>
            <img  src="./img/iOS-Assets-v01_patient_registration_progress1.png" >
           <p class="reg_message"> Register now and get your first consultation FREE with doctor of your choice. </p>

   </div>
  </div>

<form name="PatientReg1" ng-submit="submitForm($event)" ng-class={submitted:submitted}>
   <div class="form-content">
     <div class="input-types">

       <div class="form-group">

         <input type="text" class=" form-control" placeholder="First Name" name="patient_fname" ng-model="PatientDetail.patient_fname" required>

       </div>
       <div class="form-group">

         <input type="text" class="form-control" placeholder="Middle Name" name="patient_mname" ng-model="PatientDetail.patient_mname" >

       </div>

       <input type="text" class="form-control" placeholder="Last Name" name="patient_lname" ng-model="PatientDetail.patient_lname" required>


       <input type='number' class="form-control" placeholder="Age" mask-clean='true' ng-model='PatientDetail.patient_age' mask='99' restrict="reject" clean="true"  required />

     </div>

    </div>
<button class="login button button-block button-assertive" id="link" ng-hide="true" type="submit" ng-click="validateUser(PatientReg1.$valid)" >Next</button>

</form>
</ion-content>

<ion-footer-bar  >
  <!-- ORIGINAL <button class="login button button-block"  type="submit" ng-click="goToPatientReg2()" ng-disabled="!PatientReg1.$valid">Next</button> -->

          <button class="login button button-block button-assertive "  type="submit" ng-click="validateUser(PatientReg1.$valid)" linked="link" >Next</button>
          <h2 > By Signing in, I agree to DoctorQuicks <a ng-click="termsAndCond();">Terms and Conditions</a>  </h2>

</ion-footer-bar>
</ion-view>
