<ion-view class="callAccpted-view" cache-view="false">

  <ion-content scroll="false" >

    <div class="top-content"  ng-repeat="mydocs in calledDetails">
      <div class="imageContainer">
        <i class="icon ion-android-add-circle" ng-show="{{mydocs.onoff == 1}}"></i>
        <i class="icon ion-android-arrow-dropdown-circle" ng-show="{{mydocs.onoff == 2}}"></i>
        <img class="item-icon-right" ng-src="img/doc.jpg" >
      </div>
      <h1>Dr.{{mydocs.doctorFname |capitalize}} {{mydocs.doctorMname|capitalize}} {{ mydocs.doctorLname|capitalize}} </h1>
      <h2>{{mydocs.doctorDegrees}}, Degrees<br>practicing since {{mydocs.practicingSince}}</h2>
      <h2></h2>

    </div>

      <div class="rating-field ">
        <h4>
          Your Invitation for consultation has been accepted. Please start the consultation or decline.
        </h4>

      </div>
      <div class="bottom-content" ng-repeat="mydocs in calledDetails">

          <div class="button-content">
            <div class="buttonPosition">
                <button type="submit" class="login_button button button-block button-assertive"  ng-click="BalanceForVoiceCall();">
                  Voice Call
                </button>
              </div>
              <div class="">
                <button type="submit" class="login_button button button-block button-assertive" ng-click="checkWalletBalance();">
                  Video Call
                </button>
              </div>
              <div class="">
                <button type="submit" class="decline_button button button-block button-stable" ng-click="declineCall();">
                  Decline
                </button>
              </div>
              <h5 >Consultation fee: ₹{{mydocs.doctorFee}}</h5>
          </div>

    </div>

  </ion-content>
</ion-view>
