<ion-view class="change_pwd-view">
  <ion-content>
    <div class="coc col-center">
      <form name="form">
        <h3>Change Password</h3>
        <input ng-model="login.password" type="password" name="password" placeholder="Password" required ><br>
        <div class="error" ng-show="form.password.$error.required">Required</div>
        <input ng-model="login.verify" type="password" name="verify" placeholder="Confirm Password" required nx-equal="login.password" ><br>
        <div class="error" ng-show="form.verify.$error.required">Required!</div>
        <div class="error" ng-show="form.verify.$error.nxEqual">Must be equal!</div>
        <button class=" pwd_button" ng-click="updatePwd();">
        Update
        </button>

    </form>
    </div>

  </ion-content>
</ion-view>
