<ion-view class="medical-speciality-view" cache-view="false" ng-controller="medicalSpecialityController">
  <ion-content scroll="true">
    <ion-refresher on-refresh="doRefresh()">

        </ion-refresher>
    <!-- <ion-alpha-scroll ng-model="model" key="keyName">
      <div>Name: {{item.special}}</div>
      <div>Address: {{item.content}}</div>
    </ion-alpha-scroll> -->

  <ul class="bottom-content" >
      <li ng-click="getSpecialityDetail({{item.id}});"  ng-repeat="item in specialitiesList">
        <div class="name-content">
          <h2 >{{item.special}}</h2>
          <div class="sub-content"><p>{{item.content}} </p></div>
        </div>
      </li>
  </ul>
  </ion-content>
</ion-view>

<!-- <li ui-sref="app.specialityDetails({ specialityId: item.id})" ng-repeat="item in specialitiesList"> -->
  <!-- <i class="icon ion-android-alert"></i> -->
