<ion-view class="mydoctor-profile-view" cache-view="false" >
  <!-- <ion-nav-title>
    <span>My Doctors</span>
  </ion-nav-title> -->
  <ion-content  >
    <div>
          <a class="item item-avatar item-icon-right" ng-repeat="doctor in myConsultedDoctors" ng-click="viewDocProfile({{doctor.ratingTo}});" >
            <ionic-letter-avatar data={{doctor.doctorFname}} data={{doctor.doctorLname}} shape="round" charcount='1'></ionic-letter-avatar>
            <!-- <img src="img/doc.jpg"> -->
            <!-- ui-sref="app.viewdoctor_profile({ docPhone: doctor.ratingTo,rating:doctor.totalRating,ratingCount:doctor.totalCount})"  -->
            <h2 >Dr.{{doctor.doctorFname | capitalize }} {{doctor.doctorLname | capitalize}}</h2>
            <!-- <i class="icon ion-android-add-circle"></i> -->
            <i class="icon ion-android-add-circle" ng-show="{{doctor.onoff == 1}}"></i>
            <i class="icon ion-android-arrow-dropdown-circle" ng-show="{{doctor.onoff == 2}}"></i>

            <p>{{doctor.doctorDegrees}} Degrees</p>
              <p>Practicing since {{doctor.practicingSince}}</p>
              <span ng-repeat="rating in ratings" class="ratingContainer">
                <div star-rating rating-value="doctor.totalRating / doctor.totalCount" max="rating.max" ></div>
              </span>
              <span class="totalReview">({{doctor.totalCount}} Reviews)</span>
          </a>
<!-- ng-init="getDocRatingsAll(doctor.doctorPhone)"  -->

      </div>
  </ion-content>
</ion-view>
