<ion-view class="mydoctor-profile-view" cache-view="false" >
  <!-- <ion-nav-title>
    <span>My Doctors</span>
  </ion-nav-title> -->

  <ion-content  >
    <ion-refresher on-refresh="doRefresh()">

        </ion-refresher>
    <div>
      <div class="myDoctor-list" >
        <ul>
          <!-- <li  ui-sref="app.viewdoctor_profile({myDocFname:doctor.doctorFname,myDocLname:doctor.doctorLname,myDocNum:doctor.doctorPhone,myDocDegree:doctor.doctorDegrees})"> -->
        <li  ng-repeat="doctor in myConsultedDoctors" ng-click="viewDocProfile({{doctor.doctorPhone}},{{doctor.totalRating}},{{doctor.totalCount}});">
          <div class="profile-img">
            <!-- <img src="./img/dq_icon_speciality_540x960.png"> -->
            <ionic-letter-avatar data={{doctor.doctorFname}}  shape="round" charcount='1'></ionic-letter-avatar>
          </div>
          <div class="name-content">
            <h2 >Dr.{{doctor.doctorFname | capitalize }} {{doctor.doctorLname | capitalize}} </h2>
            <p>{{doctor.doctorDegrees}} Degrees</p>
            <p>Practicing since {{doctor.practicingSince}}</p>

              <div class="ratingContainer">
                <span ng-repeat="rating in ratings" >
                  <div  star-rating rating-value="doctor.totalRating / doctor.totalCount" max="rating.max" >
                  </div>
                </span>
              </div>

              <p class="totalReview">
                  ({{doctor.totalCount}} Reviews)
              </p>
          </div>
          <div class="next-icon">
            <i class="icon ion-android-add-circle" ng-show="{{doctor.onoff == 1}}"></i>
            <i class="icon ion-android-arrow-dropdown-circle" ng-show="{{doctor.onoff == 2}}"></i>
          </div>
        </li>
      </ul>
      <ul>
        <li ng-show="!myConsultedDoctors.length" style="margin-top: 8vh;"><center><b style="color:teal;">No Favorite Doctors</b></center></li>
      </ul>
      </div>


      </div>
  </ion-content>
</ion-view>
