<ion-view class="patientprofile-view" cache-view="false" >
  <ion-content ng-repeat="patient in patient_details" scrollbar-y="false">

    <div class="profile-info">


        <!-- <img ng-src="img/doc.jpg" spinner-on-load> -->

 <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">


   <div class="button-bar"> <a class="button" ng-click="getPhoto();">Camera</a>  </div>


  <!-- <div class="button-bar"> <a class="button" ng-click="choosePicture();">Gallery</a>  </div> -->

   <br>
   <br/>
   <br>
   <br>


      <div class="button-bar"> <a class="button" ng-click="uploadpicture();">Database</a>  </div>



  </ion-content>



      <!-- <h4>{{patient.patientFname}} {{patient.patientMname}} {{patient.patientLname}}</h4> -->


    </div>

      <!-- <div class="button-bar"> <a class="button" ng-click="takePicture();">Take photo</a>  </div> -->

      <!-- <div class="button-bar"> <a class="button" ng-click="choosePicture();">Choose photo</a>  </div> -->
<!--
    <div class="profile-details">
        <div class="card ">
            <div class="row">
              <div class="col">Age</div>
              <div class="col">{{patient.patientAge}}</div>
            </div>
            <div class="row">
              <div class="col">Gender</div>
              <div class="col">{{patient.patientSex}}</div>
            </div>
        </div>
        <div class="card">
          <div class="row">
                <div class="col">Email</div>
                <div class="col col-67">{{patient.patientEmail}}</div>
          </div>
        </div>

        <div class="card" ng-click="changePwd();">
            <div class="row">
                  <div class="col">change password</div>
            </div>
         </div>
    </div>
    <h3><a href="#">Terms of use</a></h3>
 -->

  </ion-content>
</ion-view>
