<ion-view class="summary-view" cache-view="false">

  <ion-content>
    <!-- &#9734; prints star character-->
    <ul class="top-content" ng-repeat="consult in myDoctor">
      <li>
        <div class="profile-img">
          <img src="./img/doc.jpg">
        </div>
        <div class="name-content">
          <h2>Dr.{{consult.doctorFname | capitalize}} {{consult.doctorMname | capitalize}} {{consult.doctorLname | capitalize}}</h2>
          <p>{{consult.doc_degrees}}</p>
          <p >Practicing since {{consult.practicingSince}}
        <div class="ratingContainer">
            <span ng-repeat="rating in ratings">
              <div star-rating rating-value="rating.current" max="rating.max" ></div>
            </span>
              <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
        </div>
          </p>

        </div>
        <!-- <div class="next-icon">

        </div> -->
      </li>
    </ul>
    <div class="card ">

          <div class="row" ng-click="chatclicked();">
            <div class="col-75">Messeges</div>
            <div class="col"><span class="badge badge-positive ">{{1}}</span></div>
          </div>
          <div class="row">
            <div class="col-75">Add Doctor to favorites</div>
            <div class="col ">
            <i class="icon  ion-android-favorite-outline" on-icon="ion-android-favorite-outline" off-icon="ion-android-favorite" icon-switcher></i>
             <!-- <i class="icon ion-information-circled" on-icon="ion-information-circled" off-icon="ion-information"  /> -->
            </div>
          </div>
          <div class="row">
            <div class="col-75">Ratings</div>
            <div class=" right-side " ><ionic-ratings ratingsobj='ratingsObject'></ionic-ratings></div>
          </div>

    </div>
  <div class="suggestion" >
     <p ng-show="unhappy"> Please Share detials with us why you were unhappy with the consultation so that we can improve our service.</p>
     <p ng-show="happy"> Please Share detials with us why you were happy with the consultation so that we can improve our service.</p>

    <div class="query-text">
      <label for="ratingComments" >

      </label>
      <textarea name="ratingComments" id="ratingComments" ng-model="ratingComments.comment">
      </textarea>
    </div>
    <div class="btn-content">
      <button class="button button-block" ng-click="sendRatings();">Send</button>
    </div>
  </div>


  </ion-content>
</ion-view>
