<ion-view class="patient-topup-view" cache-view="false">
  <div class="top-content ">
      <div class="logo-content">
        <pre-img ratio="_1_1" helper-class="rounded-image">
           <img ng-src="img/dq_icon_payments_large_540x960.png" spinner-on-load>
        </pre-img>
      </div>
      <h1>DoctorQuick Wallet</h1>
      <h2  ng-repeat="mybal in patientWalletdetails">Balance:₹{{mybal.credit-mybal.debit}}</h2>

  </div>
  <div class="refund-amount">
      <h6>(You can always get a refund of your leftover balance)</h6>
        
    <label class="item item-input" name="refund_amt" id="label" >
        <input type="number" placeholder="00.00" ng-model="payment.topUp"  required>
    </label>
  </div>
  <div class="button-container">
    <button id="update-css" class="button button-balanced button-block" ng-click="payToDq();">Topup</button>
<!-- <div class="pm-button"><a href="https://www.payumoney.com/paybypayumoney/#/131409"><img src="https://www.payumoney.com//media/images/payby_payumoney/buttons/212.png" /></a></div> -->
  </div>

<!-- <div class="pm-button"><a href="https://www.payumoney.com/paybypayumoney/#/0E622D6D7C6AAFE63E2F4C6849198F3B"><img src="https://www.payumoney.com//media/images/payby_payumoney/buttons/212.png" /></a></div> -->
<ion-item class="item-divider">Transaction History</ion-item>
  <div class="bottom-content">
    <ul >

      <li class="">
        <div class="profile-img">
          <img src="img/doc.jpg">
        </div>
        <div class="name-content">
          <h2>Dr LastName <span>₹150.00</span></h2>
          <p>23 dec 2015</p>
        </div>
        <div class="next-icon">

        </div>
      </li>

    </ul>
  </div>

</ion-view>
