<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content class="post-size-14px" >
    <ion-nav-bar class="bar app-top-bar" align-title="center" >

      <ion-nav-buttons side="left">
        <button class="button-clear"  style="margin: -11px 0 0 -11px;">
          <i class="icon ion-ios7-telephone-outline ion-ios-chatbubble-outline" ng-show="showNotification" ui-sref="app.my_consultations"><span class="badge badge-stable icon-badge" ng-show="showBadge">11</span></i>
        </button>
        <button class="button-clear" ng-click="goBack()" ng-show="showBackBtn" style="width:14vw;">
          <i class="back-btn-cls ion-ios-arrow-back" style="float:left; margin: -5px 0 0 -3px;" ></i>
       </button>
      </ion-nav-buttons>

      <ion-nav-title>
        {{headerTxt}}
      </ion-nav-title>

      <ion-nav-buttons side="right">
        <p ng-model="status"></p>
        <button ng-click="toggleLeftSideMenu()" class="button button-icon button-clear ion-navicon">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>


    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu  side="right" class="main-menu" expose-aside-when="large">
    <ion-content class="sidemenu-padding" ng-class="{'search-side-menu' : sideMenuForSearch}">

      <ion-list ng-hide="sideMenuForSearch">
        <ion-item class="item-icon-left" ng-click="getPatientDetails();"  ui-sref="app.patient_profile" menu-close>
          <i class="icon ion-android-bookmark"></i>
          <h2 class="menu-text">Profile</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ng-click="myDoctors();" ui-sref="app.my_doctors">
          <i class="icon ion-radio-waves"></i>
          <h2 class="menu-text">My Doctors</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.my_consultations" >
          <i class="icon ion-social-wordpress"></i>
          <h2 class="menu-text">My Consultations</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.patient_payments" ng-click="getWallet();">
          <i class="icon ion-wand"></i>
          <h2 class="menu-text">Payments</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.patient_home">
          <i class="icon ion-asterisk"></i>
          <h2 class="menu-text" >Review App</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.patient_home">
          <i class="icon ion-document"></i>
          <h2 class="menu-text">Notifications</h2>
        </ion-item>
        <div class="toggle-position">
            <!-- <md-toggle></md-toggle> -->
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="notificationValue" ng-change="changeStatus(notificationValue)">
            <div class="track">
                <div class="handle"></div>
            <p class="notificationOn">{{notificationValue ? 'ON' : 'OFF'}}</p>
            </div>
          </label>
        </div>

        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.patient_customercare">
          <i class="icon ion-gear-a"></i>
          <h2 class="menu-text">Customer Care</h2>
        </ion-item>
      </ion-list>

    <ion-list class="side-menu-search" ng-show="sideMenuForSearch"  >
      <div class="SearchHeader"><h4>{{SearchHeader}}</h4></div>


      <div class="radio_bg" ng-repeat="item in specialityList1">
          <ion-radio  ng-model="specialityList.search" ng-value=item.special ng-click="h1(item.special);" ng-show="showSPecialities" menu-close ><h2 >{{item.special}} </h2></ion-radio>
          <!-- selected:indexOf({{specialityList.search}}) -->
      </div>

      <div class="radio_bg" ng-repeat="type in sexList">
          <ion-radio  ng-model="specialityList.sex" ng-value=type.sex ng-click="h1(type.sex);" ng-show="showSex" menu-close><h2 >{{type.sex}} </h2></ion-radio>
      </div>
      <div class="radio_bg" ng-repeat="st in statusList">
          <ion-radio  ng-model="specialityList.stat" ng-value=st.stat ng-click="h1(st.stat);" ng-show="showStatus" menu-close><h2 >{{st.stat}} </h2></ion-radio>
      </div>
      <div class="radio_bg" ng-repeat="ln in LanguageList">
          <ion-radio  ng-model="specialityList.lang" ng-value=ln.lang ng-click="h1(ln.lang);" ng-show="showLanguage"  menu-close><h2 >{{ln.lang}} </h2></ion-radio>
      </div>

    </ion-list>

    </ion-content>
    <ion-footer-bar align-title="left" class="item-icon-left" style="height:8%; background-color: #20242c;" ng-click="confirmSignout();" ng-hide="sideMenuForSearch" nav-clear menu-close >
        <i class="icon ion-log-out"></i>
        <h5 class="menu-text" style="color: #cccccc; font-weight: 100;">Signout</h5>
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>



<!-- <ion-nav-bar>
</ion-nav-bar>
<ion-nav-view name="menuContent">
  <ion-view>
    <ion-nav-title>
      <p>{{headerTxt}}</p>
    </ion-nav-title>
    <ion-content>
      Some super content here!
    </ion-content>
  </ion-view>
</ion-nav-view> -->
