<ion-view class="sepecility-details-view"  cache-view="false" ng-controller="medicalSpecialityController" >

  <ion-content scroll="false" >
    <div>

      <a class="item dark item-avatar item-icon-right" ng-repeat="spec1 in specialityDetails" ><!--ui-sref="app.doctorprofile"-->
          <img src="img/dq_icon_specialities_medium_540x960.png">
          <div><h2>{{spec1.special}}</h2>
          <p>{{spec.description}}</p>
          </div>
          <i class="icon ion-android-alert"></i>
      </a>

      <p class="description" ng-repeat="desc in specialityDetails" >{{desc.description}}</p>

      <div class="card ">
        <div class="row">
              <div class="col">Online Doctors</div>
              <div class="col right-side">25</div>
        </div>
      </div>

    </div>


    <p class="sendRequest">Send request for a consultation to all {{Anasthesia}} Specialists who are online</p>

    <a class="login button button-block button-stable" >
      send Request
    </a>

  </ion-content>

</ion-view>
