<ion-view class="ViewDoctorProfile-view" cache-view="false">

  <ion-content scroll="false" ng-repeat="mydocs in myDocDetails1">
    <div class="top-content">
      <div class="imageContainer">
        <i class="icon ion-android-add-circle" ng-show="{{mydocs.onoff == 1}}"></i>
        <i class="icon ion-android-arrow-dropdown-circle" ng-show="{{mydocs.onoff == 2}}"></i>
        <img class="item-icon-right" ng-src="img/doc.jpg" >
      </div>
      <h1>Dr.{{mydocs.doctorfname |capitalize}} {{mydocs.doctorMname|capitalize}} {{ mydocs.doctorLname|capitalize}} </h1>
      <h2>{{mydocs.doctorDegrees}}, Degrees<br>practicing since {{mydocs.practicingSince}}</h2>
      <h2></h2>

    </div>

    <div class="middle-content">
      <div class="card ">
        <div class="row">
          <div class="  col">
            Rating
          </div>
          <div class=" col">
            4.9/23
          </div>
          <div class=" col">
            *****
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-content">
        <h4>Request a consultation via</h4>
      <button type="submit" class=" button button-stable button-block"  ng-click="BalanceForVoiceCall(); ">
        Voice Call
      </button>
      <button type="submit" class="button button-stable button-block" ng-click="checkWalletBalance();">
        Video Call
      </button>
    </div>
  </ion-content>
</ion-view>
