.doc-reg2-view
{
	font-family: Ubuntu,bold,sans-serif !important;
	ion-content{
		overflow: scroll !important;
	}
	.top-content{
		height: 40%;
		width: 80%;
		margin: 0 auto;
		text-align: center;

		img{

				width: 42%;
				padding-top: 55px;

		}
	}
	.form-content{
		height: 40%;
		width: 80%;
		margin: 0 auto;
		.item-input{
			margin-top: 2vh;
			select{
				border: none;
				font-family: inherit;
				background-color: #fff;
			}
		}
	}
	.bottom-content{
		height: 20%;
		width: 80%;
		margin: 0 auto;


		.button{
			background-color: #6aa13e;
			border: none;
			color: #fff;
		}
	}
	.popup-body {
		font-family: Ubuntu,bold,sans-serif !important;
	}
	input[type="email"]{
		margin-top: 2vh !important;
		height: 40px !important;
		padding-left: 10px;
		width: 100%;
	// height: 100%;
}
input[type="number"]{
	margin-top: 2vh !important;
	height: 40px !important;
	padding-left: 10px;
	width: 100%;
// height: 100%;
}

}
