.dqLogin-view
{
	.top-content{
		width: 100% !important;
		height: 30% !important;
		.logoContainer{
			position: relative;
			width: 70% !important;
			margin: 0 auto;
			.logo{
				width: 100% !important;
				height: 100% !important;
				margin: 0 auto;
				img{
					width: 100% !important;
					height: 80% !important;
					margin-top: 10% !important
				}
			}
		}

	}
	.login-content{
		width: 100% !important;
		height: 55% !important;

		.form-group{
			width: 80% !important;
			margin: 0 auto;

			input[type="tel"]{
			margin-top: 4% !important;
			height: 17% !important;
			padding-left: 10px;
			width: 100% !important;
			// height: 100%;
			}
			input[type="password"]{
			margin-top: 4% !important;
			height: 17% !important;
			padding-left: 10px;
			width: 100% !important;
			// height: 100%;
			}
		}
		.login_button {
					background-color: #6aa13e;
					color: #ffffff;
					height: 9% !important;
					width: 80%;
					margin: 4% 0 0 10%;
					border: 1px solid #5c9944;
					//position: absolute;
				span{
					color:#dbe5d3 ;
					font-size: 100% !important;
				}
			}
			.tAndC{
				width: 100% !important;
				height: 10% !important;
				margin: 0 auto;
				.terms{
					width: 80% !important;
					margin: 0 auto;
					h2{
						font-size: 78%;
						color: #7b736d;
						text-align: center;
						margin-top: 3%;
						line-height: 1.5;
						a{
							color: inherit !important;
							text-decoration: underline !important;
						}
					}
				}

			}
		.rememberMe{

			width: 80%;
			margin: 0 auto;
			.remember{
				width: 50% !important;
				position: absolute;
				input[type="checkbox"]{
				zoom: 1.5;
				margin-top: -3px ;
				}
				p{
					position: absolute;
    			margin: -13% 0 0 19%;
				}
			}
			.forgot{
				width: 40% !important;
				position: absolute;
				/* margin: 0 auto; */
				margin: -1% 0 0 45%;
				a{
					color: inherit;
					text-decoration: underline;
					font-size: 98%;
				}
			}

		}
		.register_button {
			background-color: #00745f;
	    color: #ffffff;
	    /* height: 40px; */
	    margin-top: 8%;
	    position: absolute;
	    width: 80%;
		}
	}
	.bottom-content{
		width: 100% !important;
		height: 15% !important;
		// background-color: teal;
		.leftbuttons{
			float: left;
			width: 50%;
			margin: 0 auto;
			p {
					// margin: 0 0 10px;
					color: aliceblue;
					margin-left: 36%;
			}
			img {
				border: 0;
				/* margin: 0 auto; */
				margin-left: 50%;
			}
		}
		.rightbuttons{
			float: left;
			width: 50%;
			margin: 0 auto;
			p {
					margin: 0 0 10px;
					color: aliceblue;
			}
			img {
				border: 0;
				/* margin: 0 auto; */
				margin-left: 30%;
			}
		}
	}
}
