.dqlogin-view
{

	ion-content {
		height: 83%;
	}

	ion-body{

		width: 320px !important;
	}

		.logo_container{
			position: relative;
			margin: 0 auto;

			text-align: center;
			img{
							width: 60%;
				}
		}
		input[type="text"]{
		//	color: green;
			font-size: 4vw;
			padding-top: 0px;
			margin-top: 1vh;
			font-family: Ubuntu,bold,sans-serif !important;
			height: 25px;

		}
		input[type="password"]{
		//	color: green;
			font-size: 4vw;
			padding-top: 0px;
			margin-top: 1vh;
			height: 25px;
			font-family: Ubuntu,bold,sans-serif !important;
		}

			.phone_field{
				width: 80%;
				text-align: center;
				margin: 0 auto;
				margin-bottom: 5%;
				margin-left: 10vw !important;
				margin-bottom: 3vh;

			}
			.password_field{
				width: 80%;
				text-align: center;
				margin-left: 10vw !important;
				margin-bottom: 3vh;
			}
			button{
				width: 80%;
				text-align: center;
				margin-left: 10vw !important;
				border: none;
			}

			.button-stable{
				background-color: #6aa13e;
			}
			.button-stable.activated{
				background-color: #557a23 !important;
			}

			.button-calm.activated{
				background-color:#026451!important;
			}
			.bottom{
					height: 17%;
					background-color: transparent;
					border: 0px;
					background-image: none;
				  height: 17%;
				 //overflow: hidden !important;

				 a {
					 text-align: center;
					 text-decoration: none !important;

					 p {
							margin: 0px;
							color: #ffffff;
					 }
				 }

				}

			.conditions{
				width: 80%;
				margin: 0 auto;
				font-size: 0.8em;
			}
			.login_button {
					background-color: #6aa13e;
					color: #ffffff;
					height: 40px;
			}

			.remember-forgot {
				width: 80%;
				margin: 0 auto;

				span {
					font-weight: bolder;
					text-decoration: none;
					font-size: 0.9em;
				}

				a {
					text-decoration: none;
					font-weight: bolder;
					text-decoration: none;
					font-size: 0.9em;
				}
			}

			.register_button {
				background-color: #00745f;
				color: #ffffff;
				height: 40px;
			}

}
