.docprofile-view
{
  background-color:#e2e2e2 !important;// $profile-bg !important;
  font-family: Ubuntu,bold,sans-serif !important;

.top-content{
  height: 15%;
  height: 15vh;
  background-color: red;
  width: 90%;
  margin: 0 auto;
  .profile-image{
    width: 30%;
    height: inherit;
    background-color: blue;
    image{
      

    }
  }
}

}
