<ion-view class="add-patient-view" cache-view="false">

  <ion-content scroll="false" >

  <div class="card ">
    <div class="row">
      <div class="col">
        <p style="margin: 3% 0 0 1%; position:fixed;">First Name</p>
      </div>
      <div class="col-75">
        <input class="form-control"  type="text" placeholder="First Name" name="newFname"  ng-model="newPatient.fname" required></input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p style="margin: 3% 0 0 1%; position:fixed;">Last Name</p>
      </div>
    <div class="col-75">
        <input class="form-control"  type="text" placeholder="Last Name" name="newLname"  ng-model="newPatient.lname" required></input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p style="margin: 13% 0 0 1%;">Age</p>
      </div>
      <div class="col-75" style="padding:2% !important;">
        <input class="form-control"  type="number" placeholder="Age" name="newLname"  ng-model="newPatient.age" required></input>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p style="margin: 10% 0 0 0%;">Sex</p>
      </div>

      <div class="col-75" >
        <div class="row">
          <div class="col" style="width:50%">
              <ion-radio class="form-control"ng-value="'Male'" ng-model="newPatient.sex" required><span style="margin: -15px 0 0 -12px; float:left;font-size: smaller;">Male</span></ion-radio>
          </div>
          <div class="col" style="width:50%">
            <ion-radio class="form-control" ng-value="'Female'" ng-model="newPatient.sex" required><span style="position: fixed; font-size: smaller;    margin: -14px 0 0 -23px;">Female</span></ion-radio>
          </div>
        </div>
        <!-- <select name='sex' ng-model="newPatient.sex" style="width:100%; height: 70%; border: 1px solid #eee; background-color: white;" required>
          <option value='Male' selected>Male</option>
          <option value='Female'>Female</option>
        </select> -->
      </div>

        <!-- <div class="form-group button-bar" >
          <ion-radio class="form-control" ng-model="PatientDetail.gender" ng-value="'Male'" required><span >Male</span></ion-radio>
          <ion-radio class="form-control" ng-model="PatientDetail.gender" ng-value="'Female'" required><span >Female</span></ion-radio>
        </div> -->
    </div>
  </div>

  <div class="buttons">
   <button  class="button button-block button-assertive" ng-click="saveNewPatient();">Save</button>
 </div>

  </ion-content>
</ion-view>
