<ion-view cache-view="false" enable-menu-with-back-views="true"  has-bouncing="false">
  <ion-side-menus enable-menu-with-back-views="true"  >
    <ion-side-menu-content class="post-size-14px" >
      <ion-nav-bar class="bar app-top-bar">

        <ion-nav-buttons side="left" >

          <button class="button-clear"  style="padding-left:0; margin-top:-14%;">
          <i class="icon ion-ios7-telephone-outline ion-ios-chatbubble-outline" ng-show="showNotification" ui-sref="templates.consulted_patient"><span class="badge badge-stable icon-badge" ng-show="showBadge">{{unreadchatforpatient}}</span></i>
          </button>

          <button class="button-clear" ng-click="goBack()" ng-show="showBackBtn" style="width:14vw;">
            <i class="back-btn-cls ion-ios-arrow-back" style="float:left; margin: -5px 0 0 -3px;" ></i>
          </button>
        </ion-nav-buttons>

        <ion-nav-title>
          {{headerTxt}}
          <!-- <img class="doctor-status " ng-src="" ng-show="showDocStatus"> its no more required-->
        </ion-nav-title>

        <ion-nav-buttons side="right">
          <a class="button button-icon button-clear ion-navicon" menu-toggle="right">
          </a>
        </ion-nav-buttons>

      </ion-nav-bar>

      <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" class="main-menu" expose-aside-when="large"  >
  <ion-content class="doc-sidemenu sidemenu-padding" >

        <!--  -->
        <ion-list ng-hide="sideMenuForSearch">
            <ion-item class="item-icon-left"  ui-sref="templates.doc_profile" menu-close>
              <i class="icon ion-android-bookmark"></i>
              <h2 class="menu-text">Profile</h2>
            </ion-item>
            <ion-item class="item-icon-left" nav-clear menu-close  ui-sref="templates.consulted_patient">
              <i class="icon ion-radio-waves"></i>
              <h2 class="menu-text">My Consultations</h2>
            </ion-item>

            <ion-item class="item-icon-left" nav-clear menu-close ui-sref="templates.doc_profile">
              <i class="icon ion-asterisk"></i>
              <h2 class="menu-text">Review App</h2>
            </ion-item>


            <ion-item class="item-icon-left" nav-clear menu-close ui-sref="templates.doc-customercare">
              <i class="icon ion-gear-a"></i>
              <h2 class="menu-text">Customer Care</h2>
            </ion-item>
            <ion-item class="item-icon-left" nav-clear menu-close ui-sref="templates.doc_acc_statement">
              <i class="icon ion-android-wifi"></i>
              <h2 class="menu-text">Account Statements</h2>
            </ion-item>

            <ion-item class="item-icon-left" nav-clear menu-close ui-sref="templates.invite_reviews">
              <i class="icon ion-android-cloud-circle"></i>
              <h2 class="menu-text">Invite Reviews</h2>
            </ion-item>

            <ion-item class="item-icon-left" nav-clear menu-close ui-sref="templates.termsOfUse">
              <i class="icon ion-android-cloud-done"></i>
              <h2 class="menu-text">Terms Of Use</h2>
            </ion-item>

            <ion-item class="item-icon-left" nav-clear menu-close ui-sref="templates.termsOfUse">
              <i class="icon ion-android-cloud-done"></i>
              <h2 class="menu-text">Notifications</h2>
            </ion-item>

              <div class="docSidemenuToggle">
                <img  src="img/on.png"  width="100%" height="85%"  ng-hide="accptNotifications" ng-click="hideNotifications('show')" on-drag-left="hideNotifications('hide')">
                <img  src="img/off.png" width="100%" height="85%" ng-hide="rejectNotifications" ng-click="showNotifications('hide')" on-drag-right="showNotifications('show')">
              </div>
        </ion-list>
  </ion-content>
  </ion-side-menu>
</ion-side-menus>
</ion-view>
