<ion-view class="doctor-acc-view" cache-view="false">

  <div class="top-content" >
    <div class="pay-logo">
      <pre-img ratio="_1_1" helper-class="rounded-image">
         <img ng-src="img/dq_icon_payments_large_540x960.png" spinner-on-load>
      </pre-img>
    </div>
    <h1>Report</h1>
    <div class="bal-info" ng-repeat="bal in availableBalance">
      <div class="balance-content">
        <p>Available <span>₹0{{bal.totalBal}}</span></p>
      </div>
    </div>
  </div>
  <ion-item class="item-divider">Transaction History</ion-item>
  <div class="calender-container">
    <div class="date-container">
      <div class="from-date">

        <p>From {{from| date: "dd-MM-yyyy"}}<span><i class="ion-ios-calendar-outline" ng-click="openDatePickerfrom();"></i></span></p>
                  <!-- <input type="date" ng-model="data.dueDate"> -->

      </div>
      <div class="to-date">
          <p>To {{toDate| date: "dd-MM-yyyy"}}<span><i class="ion-ios-calendar-outline" ng-click="openDatePickerTo();"></i></span></p>
          <!-- <input type="date" ng-model="data.dueDate"> -->

      </div>
    </div>
  </div>
  <div class="bottom-content">
    <ul >
        <li class="" ng-repeat="details in DocAcc">
        <div class="profile-img">
          <img src="img/doc.jpg">
        </div>
        <div class="name-content">
            <h2>{{details.patientFname}} {{details.patientLname}}<span>₹{{details.consultationAmount}}</span></h2>
            <p>{{details.consultedDate |  date :  "dd.MM.y"}}</p>
        </div>

        </li>

        <li ng-show="!details.DocAcc" style="margin-top: 8vh;"><center><b style="color:#417611;">{{transcMsg}}</b></center></li>

    </ul>
  </div>
</ion-view>
