<ion-view class="doctor-acc-view" cache-view="false">

  <div class="top-content">
    <div class="pay-logo">
      <pre-img ratio="_1_1" helper-class="rounded-image">
         <img ng-src="img/dq_icon_payments_large_540x960.png" spinner-on-load>
      </pre-img>
    </div>
    <h1>Report</h1>
    <div class="bal-info">
      <div class="balance-content">
        <p>Available <span>₹120</span></p>
      </div>
    </div>
  </div>
  <ion-item class="item-divider">Transaction History</ion-item>
  <div class="calender-container">
    <div class="date-container">
      <div class="from-date">
        <p>From<span><i class="ion-ios-calendar-outline" ng-click="openDatePickerfrom();"></i></span></p>
      </div>
      <div class="to-date">
          <p>To<span><i class="ion-ios-calendar-outline" ng-click="openDatePickerTo();"></i></span></p>
      </div>
    </div>
  </div>
  <div class="bottom-content">
    <ul >
        <li class="" >
        <div class="profile-img">
          <img src="img/doc.jpg">
        </div>
        <div class="name-content">
            <h2>Firstname LastName <span>₹120</span></h2>
            <p>23 dec 2015</p>
        </div>
        </li>
        <li ng-show="!res.DocAcc" style="margin-top: 8vh;"><center><b style="color:#417611;">No Transactions Yet</b></center></li>

    </ul>
  </div>
</ion-view>
