<ion-view class="customercare-view" cache-view="false">
  <ion-content scroll="false">


    <p> No of Contacts Selected </p>
    
    <form class="cc-form">
      <div class="top-content">


        <div class="button-content">
          <button class="button " ng-click="Savedata();">Save</button>
        </div>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="button-content">
          <button class="button " ng-click="Cleardata();">Clear</button>
        </div>

<br>
<br>



          <div class="text-area-content">
              <label class="item item-input">
               <textarea placeholder=" " ng-model="cc.query"></textarea>
             </label>
          </div>

        </div>


    </form>
  </ion-content>
</ion-view>
