<ion-view class="inviteResults-view" cache-view="false">
  <ion-content scroll="false">
      <div class="selected">
      <p> {{count}} Contacts Selected </p>
    </div>

    <form class="cc-form">

      <button class="clear-field button button-clear button-positive" ng-click="Cleardata();">
        Clear
      </button>
      <button class="done button button-clear button-positive" ng-click="Savedata();">
        Done
      </button>


    <div class="top-content">
      <div class="text-area-content">
        <label class="item item-input">
          <textarea placeholder=" " ng-model="cc.query"></textarea>
        </label>
      </div>
    </div>


    </form>
  </ion-content>
</ion-view>
