.mydoctor-profile-view
{
  background-color:#e2e2e2 !important;// $profile-bg !important;
font-family: Ubuntu,bold,sans-serif !important;
  .item-icon-right .icon {
     right: 20px;
 }
.item-avatar{
 background-color: #e7e7e7;
 width: 100%;
 width: 100vmin;
 text-align: left;
 margin-top: 0vh;
 border-left: none;
 border-right: none;
 border-width:   auto;

 img{
  margin-top: -1vh !important;
  padding: 2px;
  background-color: #dedad7 !important;

  position: absolute;
    top: 18px;
    left: 16px;
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
 }


}
.item-avatar:first-child {
border-top: none;
}
.item-avatar:last-child {
border-bottom: none;
display: block;
position: absolute;
margin-bottom:80px !important;
}
h2{
  font-size: 5vw;
  font-weight: 400;
  color: #4b4b4b;
  margin-top: -1vh !important;
  line-height: 4vh;

}
p{
  // background-color: red;
  font-size: 3.6vw !important;
    margin-top: 0px !important;
    line-height: 2.5vh;
  span{
    //background-color: red;
    margin-left: 2vw;
    font-size: 3vw;
  }

}
.ratingContainer{
  position: absolute;
  margin-top: -8px !important;
  margin-left: 39vw !important;
}
.totalReview{
  font-size: 3vw;
    float: right;
    // margin: -21px -29px 0 0;
        margin: -17px -44px 0 0;
}
.item-icon-left .icon:before, .item-icon-right .icon:before {
  display: block;
    width: 32px;
    /* text-align: center; */
    padding: 15px;
    margin-top: -6vh;
}



}
