// General reset styles

/* for Rting Stars*/
// .platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader){
//   height: auto  !important;
// }
// .menu.menu-right{
// 	width: calc(100% - 58px) !important;
// }
// .menu-open .menu-content{
// 	transform: translate3d(-82%, 0px, 0px) !important;
// }

ion-content.scroll-content.ionic-scroll{
  height: auto !important;
  overflow: visible;
}
.spinner-android {
    stroke: #489808 !important;
}

.timer{
    margin: 20vh 0 0 33vw !important;
    font-family: inherit !important;
    font-size: 5vw !important;
    position: relative !important;
}
//!!!!!!!!!!!!!!!!!!!!!!!!SLIDING TOGGLE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.statusDiv{
  //background-color: #007460;
    width: 100%;
    position: relative;
    margin-top: 7vh !important;
    margin-left: 33vw !important;
    .onlineImg{
      width: 38% !important;
      height: 9% !important;
      position: relative !important;
      margin-left: -39vw !important;

    }
    .offlineImg{
      width: 38% !important;
      height: 9% !important;
      position: relative !important;
    }
}

.sideMenuToggle{
    width: 24% !important;
    height: 8% !important;
    position: relative !important;
    margin: -8vh 0 0 57vw !important;
    z-index: 2 !important;
}

////////////////////////////////////////////////////////////////////////////////
.toggle-small .toggle-assertive input:checked + .track {
    background-color: rgb(106, 164, 51) !important;
    width: !important;
}
.toggle-small .track {
    border: 0;
    width: 34px;
    height: 15px;
    background: #ff0000;
    width: 25vw !important;
    height: 5vh !important;
}

.toggle-small .handle {
    top: 2px;
    left: 4px;
    width: 21px;
    height: 21px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    width: 11vw !important;
    height: 6vh !important;
}

.toggle-small input:checked + .track .handle {
    -webkit-transform: translate3d(16px, 0, 0);
    transform: translate3d(19vw, 0, 0);
    background-color: #ffffff !important;
}
.toggle-small input:checked + .track .handle {
    -webkit-transform: translate3d(16px, 0, 0);
    transform: translate3d(15vw, 0, 0);
    background: #009689;
}
.slidingToggle{
  background-color: transparent !important;
  border: none !important;
  height: 10vh !important;

}
.togglePosition{
  top: 6vh !important;
  right: 30vw !important;
}
.docAvailable
{

    width: 16vw !important;
    font-size: 3.5vw !important;
    font-weight: bold !important;
    color: white !important;
    position: relative;
    margin: 0.5vh 0 0 41vw !important;
    z-index: 2;
}
.docNotAvailable
{
  width: 16vw !important;
  font-size: 3.5vw !important;
  font-weight: bold !important;
  color: white !important;
  position: relative;
  margin: 0.5vh 0 0 51vw !important;
  z-index: 2;
}
.item-toggle .toggle {
      z-index: -1 !important;
}
//!!!!!!!!!!!!!!!!!!!!!!!!SLIDING TOGGLE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


.badge.badge-stable {
    background-color: t;
    color: #fff;
}

.item-radio {
    padding: 0;
    border: none;
    font-family: Ubuntu,bold,sans-serif !important;
}
.icon-badge{
  margin: 3px 0 0 18px ;
}
.assertive {
    background-color: #a1483e;
    color: #fff;
}
.SearchHeader{
    border-bottom: 2px solid #e2e2e2 !important;
    margin-top: -4vh;
    h4{
      font-family: Ubuntu,bold,sans-serif !important;
      text-align: center !important;
    }
}
.OnlineStatus{
  border-color: #0e1015 !important;
    border-bottom: none !important;
}
ion-side-menu ion-item.item {
    border-color: #0e1015 !important;
}
.toggle-small .toggle-calm input:checked + .track .handle {
    background-color: #e2e2e2;
}

.notification-txt-cls {

  position: absolute;
  top: 3vh;
  color: #fff !important;
  left: 24vw;
  margin-left: 10vw;
    margin-top: .5vh;
    z-index: 100;
    font-size: 2.5vw;
  }

.toggle.toggle-assertive input:checked + .track .notification-txt-cls {
  left: 4vw !important;
}

.toggle-small .toggle-calm input:checked + .track {
    background-color: rgb(82, 124, 48);
}
.platform-android .bar .title {
    color: red !important;
    left: 0 !important;
    right: 0 !important;
}
.platform-ios .bar .title {
    color: red !important;
    left: 0 !important;
    right: 0 !important;
}
 .title .title-center .header-item{
   color: red;
  left: 0 !important;
  right: 0 !important;
}
ion-side-menu.menu-left.menu {
  background-color: teal !important;
}

.title .title-left .header-item{
  left: 0px !important;
  right: 0px !important;
}
.item-radio input:checked + .radio-content .item-content {
    background: #ffffff;
}
.item-radio input:checked + .radio-content .radio-icon {
    visibility: visible;
    color: #6aa13e;
    margin: -7px 0 0 0;
}
.css-form input.ng-invalid.ng-touched {
    border-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    border-color: #78FA89;
  }

.submitted input.ng-invalid:not(:focus) {
  border:2px solid red;
}
.submittedLname input.ng-invalid:not(:focus){
  border:2px solid red;
}
.submittedAge input.ng-invalid:not(:focus){
  border:2px solid red;
}
.submittedMob input.ng-invalid:not(:focus) {
  border:2px solid red;
}
.submittedSex input.ng-invalid:not(:focus) {
  border:2px solid red;
}
.submittedMail input.ng-invalid:not(:focus) {
  border:2px solid red;
}
.submittedPwd input.ng-invalid:not(:focus) {
  border:2px solid red;
}

.platform-android.has-translucent-status-bar .header-title{
    height: 80px;
    padding-top: 40px;
 }

.bar.app-top-bar .title * {
    color: #FFFFFF !important;
    font-family: Ubuntu,bold,sans-serif !important;
    font-size: 5vw;
    text-align: center;
    left: 0 !important;
    right: 0 !important;

}
.buttons .buttons-left .header-item{
  width: 12% !important;
  background-color: red;
}
.checkbox input:before, .checkbox-icon:before {
    display: table;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 28px;
    border-color: teal;
    background: #fff;
    content: ' ';
    -webkit-transition: background-color 20ms ease-in-out;
    transition: background-color 20ms ease-in-out;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
background: #fff;
border-color: #579696;
}

.checkbox input:after, .checkbox-icon:after {
-webkit-transition: opacity 0.05s ease-in-out;
transition: opacity 0.05s ease-in-out;
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
position: absolute;
top: 33%;
left: 25%;
display: table;
width: 14px;
height: 6px;
border: 1px solid teal;
border-top: 0;
border-right: 0;
content: ' ';
opacity: 0;
}
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.centerme {
    margin: 0 auto;
    width: 100%;
    height:100%;
}

.fullscreen-player {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 0;
}
.rating {
    color: #a9a9a9;
    margin: -13px;
    padding: 0;
    font-size: 5vw
}
ul.rating {
    display: inline-block;
}
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border: none !important;
  font-size: 4vw;
}
.rating .filled {
    color: #ffb14c;
    border: none !important;
    font-size: 4vw;
}

/* for Rting Stars*/

.bar .buttons-left span{
  margin-right: 35px !important;
}
.bar-footer {
    bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
    /* background-position: top; */
    height: 12%;
    background-color: transparent;
}


.bar {
    border: none;
    /* background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%); */
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
}

.notificationOn{
	margin-top: 1vh;
}
.loginPopup {
			.popup{
				position: relative;
				width: 100%;
				background-color: #6fa02d;
				top: 42vh;
		    bottom: 0;
			}
			.popup-head {
				padding: 15px 10px;
				border-bottom: 0px;
				text-align: center;
			}
			.popup-title {
				margin: 0;
				padding: 0;
				font-size: 15px;
				color: #fff;
			}
}
.termsPopup{
  .popup{

      width: 90%;
      height: 100%;
      background-color: #fff;
      top: 42vh;
  }
  .popup-head {
    padding: 15px 10px;
    border-bottom: 0px;
    text-align: center;
  }
  .popup-title {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #fff;
  }
}
//videoplayerpopup

.videoPlayerPopup{

  .popup{

      width: 100%;
      height: 100%;
      background-color: transparent;
      top: 42vh;
  }
  .popup-head {
    padding: 15px 10px;
    border-bottom: 0px;
    text-align: center;
  }
  .popup-title {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #fff;
  }
  .popup-container .popup {
    max-width: 100%;
    max-height: 100%;
  }

}
//video call request popup

.videoPopup{
	.popup{
		width: 85%;
		border-radius: 10px;
	}
	.popup-head {

	}
	.popup-title {

	}
	.popup-buttons {
		padding: 0;
		min-height: 0;

	}
		.popup-buttons .button {
		border-radius: 0;
		margin-right: 0;
		color: #fff;

		}
		.button-royal{
			background-color: #9e3136 !important;
		}
		.button-positive{
			background-color: #6a9136 !important;

		}
}

.menu .sidemenu-padding{
	padding-top: 7vh !important;
}
*
{
	color: $content-color;
}

.bar.app-top-bar
{
	background-color:$top-bar-bg;

	.title
	{
		color: $top-bar-color !important;
		font-family: Ubuntu,bold,sans-serif !important;
		font-size: 5vw;
		text-align: center;
		*
		{
			color: $top-bar-color !important;
		}
	}

	.button
	{
		color: $top-bar-color !important;
		*
		{
			color: $top-bar-color !important;
		}
	}
}

// Preload images aux styles (ratios)
// Auto generate ratios for the whole app (see: http://stackoverflow.com/a/18120181/1116959)
@each $ratio in $pre-img-ratios {
  .pre-img._#{nth($ratio, 1)}_#{nth($ratio, 2)}
  {
    // Conserve aspect ratio (see: http://stackoverflow.com/a/10441480/1116959)
    width: 100%;
  //  padding-bottom: #{(nth($ratio, 2) / nth($ratio, 1)) * 100}%;
  }
}

.pre-img
{
  position: relative;
  background-color: $pre-img-bg;

	// If the image is rounded
	&.rounded-image
	{
		border-radius: 50%;
	}

  &.finish-loading
  {
    background-color: transparent;
    border: none;

		img
	  {
			visibility: visible;
			opacity: 1;
	  }
  }

  img
  {
    position: absolute;
		left: 0px;
		top: 0px;
		visibility: hidden;
		opacity: 0;
		@include transition(visibility 0s linear, opacity 0.5s linear);
  }
}

// spinner-on-load
@include keyframes(spin) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(359deg));
  }
}
.spinner-on-load
{
	position: absolute;
	font-size: $spinner-size;
	width: $spinner-size;
	height: $spinner-size;
	line-height: $spinner-size;
  color: $spinner-color;
	@include animation(spin 2s infinite linear);
	@include calc(top, "50% - #{($spinner-size/2)}");
	@include calc(left, "50% - #{($spinner-size/2)}");
}
ion-spinner.spinner-on-load
{
	@include animation(none);
  stroke: $spinner-color;
	width: $spinner-svg-size;
  height: $spinner-svg-size;
	line-height: inherit;
	@include calc(top, "50% - #{($spinner-svg-size/2)}");
	@include calc(left, "50% - #{($spinner-svg-size/2)}");
}

// Multimedia background
.multi-bg-outer
{
  position: relative;
  background-color: rgba(darken($multi-bg, 10%), 0.7);
	width: 100%;
  height: 100%;
  @include transition(all ease-in-out .3s);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;

  &.finish-loading
  {
    background-color:transparent ; //none;
  }

  .bg-overlay
  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $overlay-bg;
    z-index: -1;
    opacity: 0.6;
  }

  .multi-bg
  {
    display: none;
  }
}

.loading-container .loading
{
	background-color: $loading-background-color;
  *
  {
    color: darken($loading-color, 5);
		font-weight: 500;
  }
}

.back-btn-cls {
		font-size: 12vw !important;
		padding: 0 0 0 5px;
		color: #fff;
}

.back-btn-cls-ios {
		font-size: 10vw !important;
		padding: 0 0 0 5px;
		color: #fff;
}

.action-sheet .button {
    display: block;
    padding: 1px;
    width: 100%;
    border-radius: 0;

    background-color: transparent;
    color: black !important;
    font-size: 5vw;
		font-family: Ubuntu,bold,sans-serif !important;
}

.notifications-cls{
		font-size: 10vw;
    padding: 0px 0 0 7px;
    color: #fff;
		.badge.badge-positive {
			background-color: teal;
			padding: 3px 3px;
		}
}

.notify-badge{
		background-color: #b8272e;
		padding: 1px 6px;
		color: #fff;
		border: none;
	  position: absolute;
		border-radius: 50%;
		z-index: 999;
    // margin-left: 5vw;
    // margin-left: -7px;
}

.notify-badge-ios{
      background-color: #b8272e;
      padding: 1px 6px;
      color: #fff;
      border: none;
      position: relative;
      border-radius: 50%;
      z-index: 999;
      height: 50%;
      // margin-left: 5vw;
      // margin-left: -7px;
}
.bar .buttons-left span {
    margin-right: 5px;
    display: inherit;
}

.platform-ios{
	.toggle-item.item{
		top:20px;
	}
}

.doctor-status{
	 padding: 10px 10px 10px 10px;
	 float: right;
	 margin-top: 2vh;
	 background-color:#b5262e !important;// $profile-bg;
	 border-radius: 50%;
	 width: 2vw;
 }

 .popup-body {
  padding: 20px;
  overflow: scroll;
  text-align: justify;
	font-family: Ubuntu,bold,sans-serif !important;

}

.search-side-menu {
  background-color: white !important;
}

.input-label{
	width: 14% !important;
}
.radio_bg
{
	background-color: white;
}

//ratings
.ionic_rating_icon_on{
	font-size: 15px;
	color: teal;
}
.ionic_rating_icon_off{
	font-size: 15px;
	color: inherit;
}
//favorite Css

.toggle-position{
	width: 23%;
	position: relative;
	margin-top: -41px !important;
	z-index: 999;
	float: right;
}

.item-checkbox-right .checkbox input,
.item-checkbox-right .checkbox-icon {
  float: right;
}

.item-checkbox.item-checkbox-right {
  /*the default item padding*/
  padding: 15px;
}
.show-hide-input{
  width: 80%;
  margin: 0 auto;
  // padding-left: 4vw;ßßßßßß
  // height: 100%;
  input[type="text"]{
    font-size: 4vw;
    padding-top: 2vh;
    padding-left: 4vw;
    /* margin-top: 1vh; */
    height: 9%;
    font-family: Ubuntu,bold,sans-serif !important;
    margin: 0 auto;
    width: 100%;
    // height: 100%;
  }
  .formFields{
		font-size: 4vw;
		padding-top: 2vh;
		padding-left: 4vw;
	 	margin-top: 1vh;
		height: 20% !important;
		font-family: Ubuntu,bold,sans-serif !important;
		// margin: 0 auto;
		width: 100%;
		// height: 100%;
	}

}
