.ion-android-bookmark::before {
    content: url('../img/dq_icon_small_profile_540x960.png');
}

.ion-radio-waves::before {
    content: url('../img/dq_icon_small_mydoctors_540x960.png');
}

.ion-social-wordpress::before {
    content: url('../img/dq_icon_small_myconsultations_540x960.png');
}

.ion-wand::before {
    content: url('../img/dq_icon_small_payments_540x960.png');
}

.ion-asterisk::before {
    content: url('../img/dq_icon_small_reviewapp_540x960.png');
}

.ion-document::before {
    content: url('../img/dq_icon_small_notifications_540x960.png');
}

.ion-gear-a::before {
    content: url('../img/dq_icon_small_customer-care_540x960.png');
}
.ion-ios-chatbubble-outline::before {
      margin: -2% 0 0 0% !important;
      font-size: 220% !important;
}
.ion-android-cloud-circle::before {
    content: url('../img/rsz_invite1.png');
    max-width: 100%;
    height: auto;
    width: 2vmin;
}

.ion-android-cloud-done::before {
    content: url('../img/rsz_terms1.png');
    max-width: 100%;
    height: auto;
    width: 2vmin;
}

.ion-ios-chatbubble-outline::before{
    content: "";
    color: #fff;
    font-size: 10vw;
    position: absolute;
    z-index: -1;
    /* float: right; */
    margin: 2px 0 0 8px;
}

//first page icon images
.ion-android-happy::before {
    content: url('../img/dq_icon_speciality_540x960.png') ;
    max-width: 100%;
    height: auto;
    width: 2vmin;
  //  background-color: red;
}
.ion-android-search::before {
    content: url('..//img/dq_icon_search_540x960.png');
}
.ion-ios-medkit::before {
    content: url('../img/dq_icon_doctor_540x960.png');
}

.ion-ios-arrow-right::before{
    content: url('../img/dq_arrow_grey_forward_540x960.png');
}
//front page ionicons-font-path
.ion-android-add-circle::before{
    content: url('../img/dq_notifier_online_540x960.png');
    // padding: 30px 10px;
    // padding-top: 0px;
    // padding-left: 100px;
}

.ion-android-arrow-dropdown-circle::before{
    content: url('../img/dq_notifier_offline_540x960.png');
    // padding: 30px 10px;
    // padding-top: 0px;
    // padding-left: 100px;
}


.ion-android-alert::before{
    content: url('../img/dq_notifier_offline2_540x960.png');
    // padding: 0 0 27px 0;
    // padding-top: 0;
    // padding-left: 100px;
}

//Doctor screens
.ion-android-wifi::before{
    content: url('../img/dq_icon_small_payments_540x960.png');
}

.ion-log-out::before{
    content: url('../img/signout.png');
}

.ion-ios-calendar-outline::before{
 content: url('../img/dq_icon_calendar_540x960.png');
 font-size: 9vw;
 padding-right: 2vw;
 line-height: 0;
 float: right;
 margin-right: 2px;
}

//ratingsObject ion-ios-star
.ion-ios-star::before{
  color: #fbb03a !important;
}
.ion-ios-star-outline::before{
  color: black;
}

.ion-android-favorite-outline:before {
  content: "";
  font-size: 190%;
  /* margin: -1px; */
  color: teal;
  float: right;
  margin-top: 36%;
}
.ion-android-favorite:before {
    content: "";
    font-size: 190%;
    /* margin: -1px; */
    color: teal;
    float: right;
    margin-top: 36%;
}
.ion-eye:before  {
content: "";
margin: -5vh 11vw 0 0;
}

.ion-eye-disabled:before  {
content: "\f306";
margin: -5vh 11vw 0 0;
}
