.patient-reg-2-view
{
	font-family: Ubuntu,bold,sans-serif !important;


	ion-content{
		overflow: scroll !important;
	}
	.patientReg2{
		margin-top: 8vh !important;
	}
	.top-content{
		width: 80%;
		height: 25%;
		margin: 0 auto;
	text-align: center;
		p{
			text-align: center;
			padding-top: 20px;
			font-size:1.2em;
			font-weight: 500;
		}
		img{
			width: 65%;
		}
		.reg_message{
			text-align: center;

			font-size:0.9em;
			font-weight: 600;

		}
		.button{
			height: 34px;
			margin-bottom: 1vh;
			background-color: red;
		}
	}
	.form-content-1{
		padding-top: 30px !important;
		width: 80%;
		height: 100% !important;
		margin: 0 auto;

		.item-input{
			margin-bottom: 2vh !important;
			select{
				border: none;
				font-family: inherit;
				background-color: #fff;
			}
		}
		.item-radio {
    padding: 0;
    height: 8vh;
    text-align: center;
		width: 100%;
		}
		.item-radio input:checked ~ .item-content,  .item-radio .item-content    {
		  color: white;
		}
		.item-radio .radio-icon    {
		  color: #6aa13e;
			margin-top: -1vh;
		}
		.input-types1{
			margin-top: 2vh !important;
		}
		.login{
			background-color: #6aa13e;
			border: none;
			color: #ffffff;
			margin-top: 8vh !important;
		}
		a,h2,h3{
			font-size: 1em;
			text-align: center;
			color: #ffffff;
		}

	}
	.form-content-2{
		// padding-top: 16px !important;
		width: 80%;
		height: 26%;
		margin: 0 auto;

		.item-input{
			margin-bottom: 2vh !important;
		}
	}
	.bottom-height{
		margin-top: 25vh;
	}
	.bottom-content{
		width: 80%;
		height: 20%;
		margin: 0 auto;


	}
}
