.patient-reg-1-view
{
	ion-content{
		width: auto;
		height: 100%;
		overflow: scroll !important;

	}
	.submitted input.ng-invalid:not(:focus) {
	  border:2px solid red;

	}
		input.ng-invalid.ng-dirty:not(:focus) {
		border: 2px solid red;
		}
		input.ng-valid.ng-dirty {
		// border: 2px solid green;
		}

	font-family: Ubuntu,bold,sans-serif !important;

	.top-content{
		width: 80%;
		height: 15%;
		margin: 0 auto;
		text-align: center;
		padding-top: 25px;
		p{
			text-align: center;
			padding-top: 20px;
			font-size:1.2em;
			font-weight: 500;
		}
		img{
			width: 65%;
			margin-top: 3vh;
		}
		.reg_message{
			text-align: center;

			font-size:0.9em;
			font-weight: 600;

		}
		.button{
			height: 34px;
			margin-bottom: 1vh;
			background-color: red;
			margin-top: 12vh ;
		}
	}
	.form-content{
			width: 80%;
	    height: 36%;
	    margin: 0 auto;

		.item-input{
			margin-bottom: 2vh !important;
		}
		.input-types{
			margin-top: 22vh;
		}
		// div{
		// 	margin-top: 22vh !important;
		// }
	}
	.bottom-content{
		width: 80%;
		height: 35%;
		margin: 0 auto;
	}
	input[type="text"]{
		margin-top: 2vh !important;
		height: 40px !important;
		padding-left: 10px;
		width: 100% !important;
	// height: 100%;
}
		input[type="number"]{
			margin-top: 2vh !important;
			height: 40px !important;
			padding-left: 10px;
			width: 100% !important;
					// height: 100%;
	}


	.bar{
		// background-color: red;
		height: 16%;
		width: 100%;
		.login{
				background-color: #6aa13e;
				border: none;
				color: #ffffff;
				position: absolute;
				width: 81%;
				height: 46%;
				margin: 0 0 0 25px;
		}
		a,h2,h3{
			font-size: 1em;
			text-align: center;
			color: #ffffff;
		}
		h2{
			margin: 9vh 0 0 10vw;
	    width: 80%;
		}

	}

		.login_button {
					background-color: #6aa13e;
					color: #ffffff;
					height: 48px;
					width: 80%;
					margin: 0 0 0 30px;
					position: absolute;
				span{
					color:#fff;
					font-size: 4.5vw !important;
				}
		}

		.button-stable{
			background-color: #6aa13e;
		}
		.button-stable.activated{
			background-color: #557a23 !important;
		}

		.button-calm.activated{
			background-color:#026451!important;
		}
}
